<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>introduction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<h2>Takuto Narisawa</h2>
<ul>
<li><a href="https://naritaku.hatenablog.com/">Hatenablog</a></li>
<li><a href="https://github.com/naritaku">Github</a></li>
</ul>
<h3>資格</h3>
<ul>
<li>第二種電気工事士</li>
<li>(応用情報技術者試験 結果発表待ち)</li>
</ul>

<h3>受賞</h3>
<ul>
  <li>みんなのラズパイコンテスト2015 優秀賞</li>
</ul>

</ion-content>
