ion-content{
    text-align:center;
    .firstMessage{
        padding:5%;
        text-align:left;
        max-width:50%;
    }

    .holizonItem{
        display:inline-block;
        margin:10%;
    }


}
