<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="firstMessage">
  <h3>Welcome</h3>
    <p>Webページ、Pythonのゲーム、電子工作に日曜大工...いろんな分野がてんこ盛りですが、過去に製作した作品を紹介します。</p>
  </div>
  <div class="holizonItem">
    <ion-button routerLink="../introduction" routerDirection="forward">introduction</ion-button>
    <ion-button routerLink="../portfolio" routerDirection="forward">portfolio</ion-button>
  </div>
  <div class="circleAnimation"></div>
  <div class="circleAnimation"></div>
  <div class="circleAnimation"></div>
  <div class="circleAnimation"></div>
  <div class="circleAnimation"></div>
</ion-content>
